<ion-header [translucent]="true">
  <ion-toolbar class="hd">
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <img src="assets/img/jess.jpg">
  <img src="assets/img/jess1.jpg">
  <img src="assets/img/jess2.jpg">
  <img src="assets/img/jess3.jpg">
  <img src="assets/img/jess4.jpg">
  <img src="assets/img/jess5.jpg">
  <img src="assets/img/jess6.jpg">
  <img src="assets/img/jess7.jpg">
  <img src="assets/img/jess8.jpg">
  <img src="assets/img/jess9.jpg">
  <img src="assets/img/jess10.jpg">
  <img src="assets/img/jess11.jpg">
  <img src="assets/img/jess12.jpg">
  <img src="assets/img/jess13.jpg">
  <img src="assets/img/jess14.jpg">
  <img src="assets/img/jess15.jpg">
  <img src="assets/img/jess16.jpg">
  <img src="assets/img/jess17.jpg">
  <img src="assets/img/jess18.jpg">

</ion-content>
