.head{
    --background:  gray;
    color: white;
    font-weight: bolder;
    font-size: 15%;
    font-family: sans-serif;
}
ion-card{
    --background: gray;
}
ion-title{
    color: white;
    font-weight: bolder;
    font-size: 25px;
    font-family: sans-serif;
}
ion-img{
    margin-left: 65px;
    height: 12%;
    width: 12%;
    float:left;
}
ion-item{
    --background:  #c0c0c0;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: Georgia;
    margin-left:10px;
}
ion-button{
    font-weight: bolder;
}