<ion-header [translucent]="true">
  <ion-toolbar class="hd">
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body"> <br>
  
    <div class="con">
      <b> My Personal Accounts/Contacts </b> <br><br>
      <div class="cnt">
        <div class="accnt">
          <img src="assets/img/fb3.png">
        </div>
        <div class="accnt1"> <br>
          Jessryll Almacin Cadorna 
        </div>
      </div> 
      <div class="cnt">
        <div class="accnt">
          <img src="assets/img/email.png">
        </div>
        <div class="accnt1"> <br>
          jessryllcadorna@gmail.com
        </div> 
      </div>
      
      
    </div>
  <div class="con">
      <b> Contacts List </b> <br> <br>
      <ion-icon name="person"></ion-icon> Me <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09514648042</ion-label> <br><br>
      <ion-icon name="person"></ion-icon> Lyn <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09385079502</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09123456789</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09987654321</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09098765432</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09234567890</ion-label> <br><br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09345678912</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09123478956</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09356778942</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09987975432</ion-label> <br> <br>
      <ion-label>09385079502</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09123456789</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09987654321</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09098765432</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09234567890</ion-label> <br><br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09345678912</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09123478956</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09356778942</ion-label> <br> <br>
      <ion-icon name="person"></ion-icon> unnamed <br> &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>09987975432</ion-label> <br> <br>
    </div>
   
</ion-content>
